<div class ="media-body">
  <h2 class="media-heading"><%= current_user.name %></h2>
</div>

<div class="col-md-8">
  <%= render partial: 'items/item', collection: @items %>
</div>

 <div class="col-md-4"> 
 <% if policy(Item.new).create? %>
  <div class='new-item'>
    <%= render partial: 'items/form', locals: {user: current_user, item: Item.new} %>
    <% end %>
  </div>
</div> 


</div>
